* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.navbar {
    gap: 20px;
    background-color: rgb(236, 55, 80);
    padding: 15px 20px;
    max-width: 500px;
    border-radius: 50px;
    margin: 0 auto;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 210px;
    margin: 10px;
    align-items: center;
}

.nav-link a{
    text-decoration: none;
    color: white;
    font-size: 28px;
    opacity: 1;
    transition: opacity 0.15s;
    font-weight: 500;
}

.nav-link a:hover{
    opacity: 0.6;
    transition: opacity 0.15s;
}

.nav-link.active a {
    font-weight: 800;
}

.container {
    background: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: top;
    margin:auto;
    position: relative;
    overflow: hidden;
}

.flash-light {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 70%);
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s;
    z-index: 1;
}

.container p {
    position: relative;
    z-index: 2;
}

.container p a{
    text-decoration: none;
    color: black;
}

.title {
    font-size: 40px;
    margin-bottom: 20px;
    padding : 20px 30px;
    color: rgba(255,255,255,0.7);
}

.container h3 {
    font-size: 26px;
    margin-bottom: 20px;
    color: rgba(255,255,255,0.4);
}
